<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notes">
                <i class="bi bi-card-list  menu-icon"></i>
                <span class="menu-title">Notes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tasks">
                <i class="bi bi-list-task  menu-icon"></i>
                <span class="menu-title">Tasks</span>
            </a>
        </li> <li class="nav-item">
            <a class="nav-link" href="/expenses">
                <i class="bi bi-cash  menu-icon"></i>
                <span class="menu-title">Expenses</span>
            </a>
        </li>
    </ul>
</nav>